:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.nprogress-busy main {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2,
h3 {
  margin: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

img.art-img {
  max-width: 100%;
}

.container-arts {
  display: flex;
  justify-content: center;
}

.arts-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arts-list.collapsed {
  width: 20%;
  padding: 0 40px;
  opacity: 0.4;
}

.arts-list.collapsed h2 {
  font-size: 1.2em;
}

.arts-list.collapsed h3 {
  font-size: 1em;
}

.art-item {
  width: 80%;
  padding: 20px 40px 0;
}

.art-list-item {
  cursor: pointer;
  width: fit-content;
  transition: all 0.1s;
  padding: 10px;
}

.art-list-item:hover {
  transform: scale(1.02);
  background-color: #ffffff0d;
}

.arts-list .art-list-overlay {
  position: absolute;
  height: 0;
  width: 0;
}

.arts-list.collapsed .art-list-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.form-input {
  margin: 10px;
  height: 30px;
  font-size: 18px;
  vertical-align: middle;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.items-per-page {
  padding-bottom: 16px;
}

.items-per-page p {
  margin: 8px;
  font-size: 18px;
}

.pagination {
  display: inline-block;
  padding-top: 40px;
}

.pagination div {
  color: grey;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.pagination div.active {
  background-color: #646cff;
  color: white;
}

.pagination div:hover:not(.active) {
  background-color: #ddd;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  vertical-align: middle;
}

button:hover {
  border-color: #646cff;
}

button.close-detais-button {
  margin-top: 16px;
}

button.close-detais-button:hover {
  border-color: #a25941;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media only screen and (max-width: 576px) {
  .arts-list.collapsed {
    display: none;
  }
}
